{% load colaborador_tags %}

<div id="conteiner2">
    <h2 style="color: white;">Comentarios</h2>
    <br><br>
</div>

<div id="conteiner2">
    {% for comentario in comentarios %}
        <p style="color: white;">{{ comentario.usuario }} - {{ comentario.fecha }}</p>
        <br>
        <br>
        <ul class="conte">
            <p style="color: white;">{{ comentario.texto }}</p>
            {% if user.is_superuser or comentario.usuario == user %}
                <br><a id="enviar" href="{% url 'apps.posts:comentario_editar' pk=comentario.pk %}?next={{ request.path }}" class="btn btn-success btn-lg px-3">Editar</a>
            {% endif %}
            {% if user.is_superuser or comentario.usuario == user or request.user|has_group:"Colaborador" %}
                <br><a id="enviar" href="{% url 'apps.posts:comentario_eliminar' pk=comentario.pk %}" class="btn btn-success btn-lg px-3">Eliminar</a>
            {% endif %}
            <br><br>
        </ul>
    {% empty %}
    <li>No hay comentarios - Puedes ser el primero en comentar!</li>
    {% endfor %}
</div>
<a id="comentrio"></a>
<div id="conteiner2">
<form method="POST" style="margin-bottom: 10px; margin-top: 100px;">
    {% csrf_token %}
    {% if user.is_authenticated %}
    <h2 style="color: white;">Deja tu comentario</h2>
        <form method="POST" style="color: white;">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Comentar" class="btn btn-success btn-lg px-3" id="enviar">
        </form>
    {% else %}
        <h2>Debes iniciar sesión o registrarte para poder comentar</h2>
        <a href="{% url 'apps.uuario:login' %}?next={{ request.path }}">Iniciar sesión</a>
        <input type="hidden" name="next" value="{{ request.path }}">
    {% endif %}
</form>
</div>