{% extends 'base.html' %}

{% block contenido %}
<br><br>    
<br><br>   
<br><br>   
<br><br>   
<div id="conteiner3"><h2>Restablecer contraseña</h2>
    <form method="post" id="form2">
        {% csrf_token %}
        {{ form }}
        <button type="submit" class="btn btn-success btn-lg px-3" id="inicio">Enviar correo electrónico</button>
    </form>
</div>
<br>
<br>
<br>
<br>
{% endblock %}
<center>
    <div class="conteiner" style="margin-top: 370px">
        <div class="messages">
            {% for message in messages %}
                <table{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</table>
            {% endfor %}
        </div>
    </div>
</center>