{% extends 'base.html' %}

{% block contenido %}
<center>
<br>
<br>
<br>
<div id="conteiner2">
    <br>
    <br>
    <ul>
        <h1 style="color: white;">Categoria</h1>
        <br>
        <br>

        {% for categoria in categorias %}
            <li style="color: white; border: solid; list-style: none; border-color: darkslategrey;" >{{ categoria.nombre }}
                (<a style="color: white" 
                href="{% url 'apps.posts:categoria_delete' pk=categoria.pk %}">Eliminar</a>)</li> 
        {% empty %}
                <li>No hay categorias</li>
        {% endfor %}
    </ul>
</div>
</center>
{% endblock %}